__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
.env
env/
venv/
.venv/
.vscode/
.idea/
.pytest_cache/
.DS_Store
ipynb_checkpoints/
/*.egg-info/
dist/
build/
code_graveyard.py
start_IDE.sh
searchlight_on_raw_images.py